.titulo-catalogo {
    padding: 20px;
    .disenios {
        display: map-get($map-flex,flex);
        flex-direction: map-get($map-flex,column);
        text-align: map-get($map-flex,center);
          .disenios__card {
             margin: 10px;
             padding: 10px;
             .imgcard {
               width: 300px;
               @include mixinheight;
                .Contenedor-carrito {
                 text-align:map-get($map-flex,center);
                                }
                        }
                } 
        }
}
   
@media only screen and (min-width:680px) {
   .titulo-catalogo {
         padding: 20px;
       }
   .disenios {
          flex-direction: row;
          flex-wrap: wrap;
       }

   .disenios__card {
        margin: 10px;
        padding: 10px;
       }

   .imgcard {
       width: 300px;
       height: 350px;
       }

   .Contenedor-carrito {
       text-align: center;
       }
}

