.Nosotros__contactos{
    margin: 10px;
    padding: 10px;
 }

.tamaño-mapa{
    width: 40vh;
    height: 30vh;
}
 
@media only screen and (min-width:600px) {
    .tamaño-mapa {
        width: 80vh;
        height: 60vh;
    }
}

@media only screen and (min-width:1200px) {
    .tamaño-mapa {
        width: 100vh;
        height: 80vh;
    }
    }
