@media only screen and (min-width:680px) {
    .titulo-catalogo {
          padding: 20px;
          .disenios {
             flex-direction: row;
             flex-wrap: wrap;
             .disenios__card {
               margin: 10px;
               padding: 10px;
                 .imgcard {
                   width: 300px;
                   height: 350px;
                     .Contenedor-carrito {
                      text-align: center;
                      }
                 }
            }
        }
     }    
 }

 @media only screen and (min-width:600px) {
    .contenido__video {
        height: 70vh;
        width: 70vw;
    }
}

@media only screen and (min-width:1200px) {
    .contenido__video {
        height: 80vh;
        width: 70vw;
    }
}
@media only screen and (min-width:600px) {
    .wp {
        display: block;
        height: 50px;
        width: 50px;
        position: fixed;
        bottom: 30px;
        right: 50px;
    }

}

@media only screen and (min-width:600px) {
    .tamaño-mapa {
        width: 80vh;
        height: 60vh;
    }
}

@media only screen and (min-width:1200px) {
    .tamaño-mapa {
        width: 100vh;
        height: 80vh;
    }
    }
    



